{% extends "manager/layout.html" %}

{% block title %}
{{ championship.name }}
{% endblock %}

{% block main %}
{% load static %}

<div class="container col-md-11 px-2 py-5">
    <div class="d-flex align-items-center mb-3 gap-3">
        <h1 class="display-5 fw-bold lh-1">{{ championship.name }}</h1>
        <img src="{% static "manager/united-kingdom-flag.png" %}" alt="united-kingdom-flag" width="auto" height="30" loading="lazy">
        <span class="text-muted">({{ championship.id }})</span>
    </div>
    <div>
        <h4 class="fw-bold lh-1">Team standings</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in championship.teams.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}.</th>
                    <td><a href="{% url 'teams:team_overview' team.id %}" class="link-dark">{{ team.name }}</a></td>
                    <td>{{ team.team_points.first.points|default:"0" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h4 class="fw-bold lh-1">Driver standings</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in championship.teams.all %}
                    {% for driver in team.drivers.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}.</th>
                        <td><a href="{% url 'teams:driver_page' driver.id %}" class="link-dark">{{ driver.name }} {{ driver.surname }}</a></td>
                        <td><img src="{% static driver.country.logo_location %}" alt="flag" width="auto" height="20" loading="lazy"></td>
                        <td>{{ driver.driver_points.first.points|default:"0" }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>        
</div>

{% endblock %}
