{% extends "manager/layout.html" %}

{% block title %}
{{ driver.name }} {{ driver.surname }}
{% endblock %}

{% block main %}
{% load static %}

<div class="container col-md-11 px-2 py-5">
    <div class="col-lg-9">
        <div class="d-flex align-items-center mb-3 gap-3">
            <h1 class="display-5 fw-bold lh-1">{{ driver.name }} {{ driver.surname }}</h1>
            <img src="{% static driver.country.logo_location %}" width="auto" height="35" loading="lazy">
            <span class="text-muted">({{ driver.id }})</span>
        </div>
        <div>
            <div class="card-body d-flex gap-5">
                <img class="card-img-top" src="{% static "manager/driver.png" %}" alt="Driver Image" style="width:150px;height:150px;">
                <div>
                    <p class="card-text">Team: <a href="{% url 'teams:team_overview' driver.team.id %}" class="link-dark">{{ driver.team.name }} </a></p>
                    <p class="card-text">Age: {{ driver.age }}</p>
                    <p class="card-text">Overall: {{ driver.skill_overall }}</p>
                </div>
                <div>
                    <p class="card-text">Racecraft: {{ driver.skill_racecraft }}</p>
                    <p class="card-text">Pace: {{ driver.skill_pace }}</p>
                    <p class="card-text">Focus: {{ driver.skill_focus }}</p>
                    <p class="card-text">Car Management: {{ driver.skill_car_management }}</p>
                    <p class="card-text">Feedback: {{ driver.skill_feedback }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
