{% extends "manager/layout.html" %}

{% block title %}
Races - {{ team.name }}
{% endblock %}

{% block main %}
{% load static %}

<div class="container col-md-11 px-2 py-5">
    <div class="d-flex align-items-center mb-3 gap-3">
        <h1 class="display-5 fw-bold lh-1">Set Race Orders</h1>
    </div>
    <div>
        {% if ongoing_races %}
        <h4 class="fw-bold lh-1">Ongoing Races</h4>
        {% include 'partials/races_table.html' with races=ongoing_races id="ongoing_races" %}
        {% endif %}
        {% if upcoming_races %}
        <h4 class="fw-bold lh-1">Upcoming Races</h4>
        {% include 'partials/races_table.html' with races=upcoming_races id="upcoming_races" %}
        {% endif %}

        {% if completed_races %}
        <h4 class="fw-bold lh-1">Completed Races</h4>
        {% include 'partials/races_table.html' with races=completed_races id="completed_races" %}
        {% endif %}
    </div>    
</div>

{% endblock %}