{% extends "manager/layout.html" %}

{% block title %}
Race orders - {{ race.name }}
{% endblock %}

{% block main %}
{% load static %}

<div class="container col-md-11 px-2 py-5">

    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static race.location.image_location %}" class="d-block mx-lg-auto img-fluid p-3" style="max-height: 400px;" loading="lazy">
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center mb-3 gap-3">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ race.name }}</h1>
                <img src="{% static race.location.location.logo_location %}"  width="auto" height="35" loading="lazy">
                <span class="text-muted">({{ race.id }})</span>
            </div>
        </div>
        <h3>Track characteristics</h3>
        <div class="feature col mt-1 mb-3">
            <div class="progress mb-1">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ race.location.straights }}%;" aria-valuenow="{{ race.location.straights }}" aria-valuemin="0" aria-valuemax="100">Straights {{ race.location.straights|floatformat }}%</div>
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ race.location.slow_corners }}%;" aria-valuenow="{{ race.location.slow_corners }}" aria-valuemin="0" aria-valuemax="100">Slow corners {{ race.location.slow_corners|floatformat }}%</div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ race.location.fast_corners }}%;" aria-valuenow="{{ race.location.fast_corners }}" aria-valuemin="0" aria-valuemax="100">Fast corners {{ race.location.fast_corners|floatformat }}%</div>
            </div>
        </div>
    </div>
    
    <h3>Race orders</h3>
    {% for error in form.errors.values %}
    <div class="text-danger fw-bold mb-3">
        {{ error|join:", " }}
    </div>
    {% endfor %}
    <form action="{% url 'teams:race_orders' race.id %}" method="post" role="form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="driver_1" class="form-label">{{ form.driver_1.label_tag}}</label>
            {{ form.driver_1 }}
        </div>
        <div class="mb-3">
            <label for="driver_2" class="form-label">{{ form.driver_2.label_tag}}</label>
            {{ form.driver_2 }}
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    
</div> 
    
{% endblock %}
