{% extends "manager/layout.html" %}

{% block title %}
    Password Recovery
{% endblock %}

{% block main %}

    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Reset Your Password</h1>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form action="{% url 'forgot_password' %}" method="post" role="form" class="row gy-2 gx-2">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% if message %}
                                <div class="mb-3">{{ message }}</div>
                            {% endif %}
                            Enter your email address below and we'll send you a link with instructions.
                        </div>
                        <div class="form-floating mb-3">
                            <input autofocus type="email" class="form-control rounded-3" name="email" placeholder="Email Address">
                            <label for="email">Email Address</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
