{% extends "manager/layout.html" %}

{% block title %}
    Reset Your Password
{% endblock %}

{% block main %}
<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Reset Your Password</h1>
            </div>
            <div class="modal-body p-5 pt-0">
                {% if validlink %}
                    <form action="{% url 'registration:password_reset_confirm' uidb64=uid token=token %}" method="post" role="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% if message %}
                                <div class="mb-3">{{ message }}</div>
                            {% endif %}
                            Enter your new password below.
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.new_password1 }}
                            {{ form.new_password1.label_tag }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.new_password2 }}
                            {{ form.new_password2.label_tag }}
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" type="submit">Reset Password</button>
                    </form>
                {% else %}
                    <p>This password reset link is no longer valid. Please request a new one.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
