{% extends "manager/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
{% load socialaccount %}

    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Register</h1>
                </div>
                <div class="modal-body p-5 pt-0">
                    {% if message %}
                    <div class="text-danger fw-bold">{{ message }}</div>
                    {% endif %}
                    <form action="{% url 'registration:register' %}" method="post" role="form" class="row gy-2 gx-2">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ form.username }}
                            {{ form.username.label_tag }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.email }}
                            {{ form.email.label_tag }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password1 }}
                            {{ form.password1.label_tag }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password2 }}
                            {{ form.password2.label_tag }}
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" type="submit">Register</button>
                        <hr class="my-4">
                        <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                        <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                            <a class="list-group-item list-group-item-action" href="{% provider_login_url 'google' %}?next=/"><img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />Continue with Google</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


<div class="form-floating mb-3">
    <input type="text" name="username" maxlength="150" autofocus="" class="form-control" id="username" required="">
    <label for="username">Username:</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control rounded-3" name="username" placeholder="Username" required="required">
    <label for="username">Username</label>
</div>